britbox_slack.json
{
    "name": "GitLab Slack bot for Britbox",
    "flow": [
        {
            "id": 1,
            "module": "gitlab:NewIssues",
            "version": 2,
            "parameters": {
                "__IMTHOOK__": 675828
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 600,
                    "name": "Watch Tickets"
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Slackbot for GitLab"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:gitlab",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Ticket State",
                "conditions": [
                    [
                        {
                            "a": "{{1.object_attributes.state}}",
                            "b": "closed",
                            "o": "text:notequal"
                        },
                        {
                            "a": "{{1.object_attributes.action}}",
                            "b": "close",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "array": "{{1.labels}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 600,
                    "name": "Loop for Labels"
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 3,
                "rowSeparator": ""
            },
            "mapper": {
                "value": "{{3.title}} | "
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 600,
                    "name": "Aggregate Labels"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [3]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "gitlab:actionGetUser",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2029090
            },
            "mapper": {
                "userId": "{{1.object_attributes.author_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 600,
                    "name": "Get Ticket Author"
                },
                "restore": {
                    "expect": {
                        "userId": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gitlab5"
                            },
                            "label": "Slackbot for GitLab (integromat_slack project_173_bot_5192ae1cbc42242aa2e518a0a1c623f7)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gitlab3,gitlab5",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "userId",
                        "type": "select",
                        "label": "User ID",
                        "required": true
                    },
                    {
                        "mode": "edit",
                        "name": "userId",
                        "type": "select",
                        "label": "User ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 600,
                    "name": "Specific Message"
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 2028308
                            },
                            "filter": {
                                "name": "Ready to Merge",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.text}}",
                                            "b": "MR::4. Ready To Merge",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "*Issue Ready to Merge:* :checkmark2:\n*Title:* {{1.object_attributes.title}} {{if(contains(4.text; \"P::0\"); \":alert:\"; )}}\n*Link:* {{1.object_attributes.url}}\n*Assignee:* {{1.assignees[].name}}\n*Author:* {{5.name}}\n*Labels:* {{replace(4.text; \"P::\"; \"P\")}}",
                                "parse": true,
                                "channel": "C02FW7SCX38",
                                "icon_url": "https://raw.githubusercontent.com/thabraham1999/gitlabSlackbot/main/britbox_gitlab_icon.png",
                                "username": "GitLab for Britbox",
                                "channelWType": "manualy",
                                "unfurl_links": false,
                                "unfurl_media": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0,
                                    "name": "Ready to Merge"
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose",
                                            "empty": true
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelWType": {
                                            "label": "Enter manually"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            },
                                            "label": "SlackBot for GitLab (integromat)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channel",
                                        "type": "text",
                                        "label": "Channel ID or name",
                                        "required": true
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 2028308
                            },
                            "filter": {
                                "name": "Merged",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.text}}",
                                            "b": "MR::5. Merged",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "*Issue Merged:* :checkmark2:\n*Title:* {{1.object_attributes.title}} {{if(contains(4.text; \"P::0\"); \":alert:\"; )}}\n*Link:* {{1.object_attributes.url}}\n*Assignee:* {{1.assignees[].name}}\n*Author:* {{5.name}}\n*Labels:* {{replace(4.text; \"P::\"; \"P\")}}",
                                "parse": true,
                                "channel": "C02FW7SCX38",
                                "icon_url": "https://raw.githubusercontent.com/thabraham1999/gitlabSlackbot/main/britbox_gitlab_icon.png",
                                "username": "GitLab for Britbox",
                                "channelWType": "manualy",
                                "unfurl_links": false,
                                "unfurl_media": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300,
                                    "name": "Merged"
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose",
                                            "empty": true
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelWType": {
                                            "label": "Enter manually"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            },
                                            "label": "SlackBot for GitLab (integromat)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channel",
                                        "type": "text",
                                        "label": "Channel ID or name",
                                        "required": true
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 2028308
                            },
                            "filter": {
                                "name": "QA Done",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.text}}",
                                            "b": "QA::3. Done",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "*QA Done:* :checkmark2:\n*Title:* {{1.object_attributes.title}} {{if(contains(4.text; \"P::0\"); \":alert:\"; )}}\n*Link:* {{1.object_attributes.url}}\n*Assignee:* {{1.assignees[].name}}\n*Author:* {{5.name}}\n*Labels:* {{replace(4.text; \"P::\"; \"P\")}}",
                                "parse": true,
                                "channel": "C02FW7SCX38",
                                "icon_url": "https://raw.githubusercontent.com/thabraham1999/gitlabSlackbot/main/britbox_gitlab_icon.png",
                                "username": "GitLab for Britbox",
                                "channelWType": "manualy",
                                "unfurl_links": false,
                                "unfurl_media": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 600,
                                    "name": "QA Done"
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose",
                                            "empty": true
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelWType": {
                                            "label": "Enter manually"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            },
                                            "label": "SlackBot for GitLab (integromat)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channel",
                                        "type": "text",
                                        "label": "Channel ID or name",
                                        "required": true
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 2028308
                            },
                            "filter": {
                                "name": "Issue Opened",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.object_attributes.action}}",
                                            "b": "open",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "*New Issue Opened:*\n*Title:* {{1.object_attributes.title}} {{if(contains(4.text; \"P::0\"); \":alert:\"; )}}\n*Link:* {{1.object_attributes.url}}\n*Assignee:* {{1.assignees[].name}}\n*Author:* {{5.name}}\n*Labels:* {{replace(4.text; \"P::\"; \"P\")}}",
                                "parse": true,
                                "channel": "C02FW7SCX38",
                                "icon_url": "https://raw.githubusercontent.com/thabraham1999/gitlabSlackbot/main/britbox_gitlab_icon.png",
                                "username": "GitLab for Britbox",
                                "channelWType": "manualy",
                                "unfurl_links": false,
                                "unfurl_media": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 900,
                                    "name": "Issue Opened"
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose",
                                            "empty": true
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelWType": {
                                            "label": "Enter manually"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            },
                                            "label": "SlackBot for GitLab (integromat)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channel",
                                        "type": "text",
                                        "label": "Channel ID or name",
                                        "required": true
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 2028308
                            },
                            "filter": {
                                "name": "Issue Reopened",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.object_attributes.action}}",
                                            "b": "reopen",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "*Issue Reopened:*\n*Title:* {{1.object_attributes.title}} {{if(contains(4.text; \"P::0\"); \":alert:\"; )}}\n*Link:* {{1.object_attributes.url}}\n*Assignee:* {{1.assignees[].name}}\n*Author:* {{5.name}}\n*Labels:* {{replace(4.text; \"P::\"; \"P\")}}",
                                "parse": true,
                                "channel": "C02FW7SCX38",
                                "icon_url": "https://raw.githubusercontent.com/thabraham1999/gitlabSlackbot/main/britbox_gitlab_icon.png",
                                "username": "GitLab for Britbox",
                                "channelWType": "manualy",
                                "unfurl_links": false,
                                "unfurl_media": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 1200,
                                    "name": "Issue Reopened"
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose",
                                            "empty": true
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelWType": {
                                            "label": "Enter manually"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            },
                                            "label": "SlackBot for GitLab (integromat)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channel",
                                        "type": "text",
                                        "label": "Channel ID or name",
                                        "required": true
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 10,
                    "text": "Sends a slack message when an Issue is Reopened",
                    "filter": false
                },
                {
                    "id": 9,
                    "text": "Sends a slack message when an Issue is created",
                    "filter": false
                },
                {
                    "id": 8,
                    "text": "Sends a slack message when an Issue is marked QA Done",
                    "filter": false
                },
                {
                    "id": 7,
                    "text": "Sends a slack message when an Issue is Merged",
                    "filter": false
                },
                {
                    "id": 2,
                    "text": "Sends a slack message when an Issue is Ready to Merge",
                    "filter": false
                },
                {
                    "id": 6,
                    "text": "Router to send a specific Slack message based on the action performed on the ticket",
                    "filter": false
                },
                {
                    "id": 5,
                    "text": "Get ticket author details using the Author ID from the Watch Tickets module",
                    "filter": false
                },
                {
                    "id": 4,
                    "text": "Aggregator to combine all the labels into a single string",
                    "filter": false
                },
                {
                    "id": 3,
                    "text": "Loop to go through Array of Labels",
                    "filter": false
                },
                {
                    "id": 1,
                    "text": "Watch GitLab for all actions being performed on issues",
                    "filter": false
                }
            ]
        },
        "zone": "eu2.make.com"
    }
}